.search__bar {
    padding: 0.5rem 1rem;
    padding-top: 20px;
    border-radius: 30px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    width: max-content ;
    margin-top: 50px;
}

.form__group span {
    font-size: 1.8rem;
    color: brown;
}

.form__group input {
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    font-size: .9rem;
    color: var(--heading-color);
    font-weight: 500;
}

.form__group input:focus {
   outline: none;
}

.search__icon {
    font-size: 1.6rem;
    padding: 0.5rem;
    background: var(--secondary-color);
    color: #fff;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
}

.search {
    padding-bottom: 1rem;
}



